<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sd_final.Properties.Settings.sd_testConnectionString"
            connectionString="Data Source=ALDERAMIN\SQLEXPRESS;Initial Catalog=sd_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>